<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Whoa Whoa Whoa!</h4>
  Do you know why I pulled you over? License and phone number please.
</div>

<div class="hero-unit">
  <h1>About Me. It's All About Me!</h1>
  <p>My About.me page to show you more things about me","http://about.me/alex.k</p>
  <p>
    <a class="btn btn-primary btn-large">
      Check me Out
    </a>
  </p>
</div>