<div class="hero-unit">
	<h1>Welcome to the Thunderdome</h1>
	<p>
		you found the homepage dood
		<%= link_to "My About.me Page", "http://about.me/alex.k" %>
		thingies.
	</p>
	<p>
		<%= link_to "Sign up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>