$baseFontFamily: Lato;
@import url(http://fonts.googleapis.com/css?family=Lato);

@import 'bootstrap';
@import 'bootstrap-responsive';

body{
	padding-top: 80px;
}

/* MARKETING CONTENT
/* Center align the text within the three columns below the carousel */
.marketing 
	.span4 {
      text-align: center;
      padding-top: 20px;
    }
    .marketing h2 {
      font-family: Lato;
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }

@import 'bootstrap-responsive';

.footer {

	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

/* Required for jQuery Masonry */

.box {
  margin: 5px;
  padding: 5px;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  width: 214px;
}


.box img {
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.description {
  margin: 10px 0 5px;
}

.carousel-inner {
position: relative;
width: 100%;
overflow: hidden;
}

.mycarousel {
  width: auto;
  height: auto;
  width: 100%;
  vertical-align: middle;
  border: 0;
-ms-interpolation-mode: bicubic;
}

.lead {
  padding-top: 5px;
  padding-bottom: 15px;
  font-family: Lato;
}

.background_image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .background_image {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}